<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid px-3 px-sm-0 search-bar">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/images/logo.png" alt="" />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse px-3 px-sm-0"
      id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0 w-auto">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="#"
            translate="no"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" (click)="allGames()">Todos os jogos</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            (click)="openPerfil()"
            *ngIf="authService.loggedIn"
            >Minha lista</a
          >
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <div class="container d-flex p-0 w-auto flex-wrap">
        <input
          class="form-control"
          [(ngModel)]="search"
          placeholder="Encontre seus jogos"
          aria-label="Search"
          (keyup.enter)="onSubmit()" />
        <button class="btn btn-primary ms-1" type="submit" (click)="onSubmit()">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <ul class="navbar-nav mt-2 mt-sm-0 w-auto">
        <li class="nav-item mx-auto">
          <button
            *ngIf="!authService.loggedIn"
            class="btn btn-primary text-white"
            (click)="authService.GoogleAuth()">
            <i class="bi bi-google me-1"></i> Login
          </button>
        </li>

        <li class="nav-item dropdown w-auto" *ngIf="authService.loggedIn">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false">
            <img
              src="{{ authService.photoUrl }}"
              class="rounded-circle img-fluid"
              height="50"
              width="50" />
          </a>

          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
            aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="openPerfil()">Minha lista</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li><a class="dropdown-item" href="#">Ajude-me</a></li>
            <li>
              <a class="dropdown-item" (click)="authService.GoogleOut()"
                >Log Out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
