<div class="container">
    <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">Zerei</span>
        <input class="input" name="search" ngModel placeholder="Encontre mais de 500k de jogos" />
        <button class="button">Buscar</button>
    </form>
    <div class="login">
      
        <div class="formGroup">
            <button *ngIf="!authService.loggedIn" type="button" (click)="authService.GoogleAuth()">
              Log in with Google
            </button>
            <div *ngIf="authService.loggedIn">
              <span (click)="openPerfil()">User is logged IN {{ authService.displayName }}</span>
              <button type="button" (click)="authService.GoogleOut()">Logout</button>
            </div>
            <div *ngIf="!authService.loggedIn" >User is logged OUT</div>
            
          </div>
    </div>
</div>
