.search-bar {
    padding: 0;
    max-width: 1200px;
}

a:hover {
    cursor: pointer;
}

.logo {
    width: 6em;
}

.form-control {
    width: 17rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.btn-primary {
    color: #212529;
    border-color: #1DE9B7;
    background-color: #1DE9B7;
}

.btn-primary:hover {
    color: #1DE9B7;
    border-color: #1DE9B7;
    background-color: #212529;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg:#1DE9B7;
}

.form-control:focus {
    border-color: #1DE9B7;
    box-shadow: 0 0 0 0.2rem rgba(29, 233, 183, 0.25);
} 