<div class="filtros">
    <mat-form-field>
        <mat-label>Classificar</mat-label>
        <mat-select panelClass="selecionado-classificar" [(ngModel)]="sort">
            <mat-option value="nome">Nome</mat-option>
            <mat-option value="-lancado">Lançado</mat-option>
            <mat-option value="-adicionado">Adicionado</mat-option>
            <mat-option value="-criado">Criado</mat-option>
            <mat-option value="-atualizado">Atualizado</mat-option>
            <mat-option value="-classificacao">Classificação</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div>
