.filters {
    max-width: 1200px;
    margin: 20px auto;
}

.container-fluid {
    max-width: 1200px;
    padding: 0;
}

.card {
    height: 380px;
    width: 280px;
    margin: 10px;
    padding: 0;
}

.card-img-top{
    height: 172px;
}

.card-title:hover {
    color: #ffffff5a;
    transition-duration: 0.3s;
    cursor: pointer;
}


.card:hover {
    box-shadow: 4px 4px 11px 6px rgba(7, 31, 25, 0.46);
    transform: translateY(-3px);
}

.bi{
    font-size: 30px;
    margin: 0 1.2rem;
}

.bi:hover{
    color: #1DE9B7;
    cursor: pointer;
    transition-duration: 0.3s;
}

.game-plataform {
    width: 20px;
    margin-right: 10px;
}


.pagination ::ng-deep .page-item.active .page-link {
    background: #202020;
    border: #202020;
    color: #fff;
  }

  .pagination ::ng-deep .page-item .page-link {
   
   color: #202020;
  }


.btn-primary {
    color: #212529;
    border-color: #1DE9B7;
    background-color: #1DE9B7;
}

.dropdown-menu {
    
    --bs-dropdown-link-active-bg:#1DE9B7;
}