
.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.game {
   width: 280px;
   margin: 10px;
   height: 330px;
   overflow: hidden;
   border-radius: 5px;
   background-color: #202020;
   box-shadow: 4px 3px 8px 0 rgb(200 152 44 / 22%);
   transition-duration: 0.3s;
   
}

.game:hover {
    box-shadow: 4px 4px 11px 6px rgb(200 152 44 / 46%);
    transform: translateY(-3px);
}

.game-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
}

.game-thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
}

.game-description {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
}

.game-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
}

.game-name:hover {
    color: #ffffff5a;
    transition-duration: 0.3s;
    cursor: pointer;
}



.game-plataforms {
    display: flex;
}

.game-plataform {
    width: 20px;
    margin-right: 10px;
}

.pagination ::ng-deep .ngx-pagination .current {
    background: #202020;

  }

.pagination ::ng-deep .ngx-pagination a {
    color: #fff !important;

  }

  .pagination ::ng-deep .ngx-pagination a:hover {
    background: #202020;

  }

  .icons {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-around;
  }

mat-icon:hover {
    cursor: pointer;
}