.details {
    max-width: 1200px;
    padding: 0;
}

.game-header {
    height: 4rem;
}
.background-image{
    height: 27rem;
    object-fit: cover;
    object-position: 50% 0;
}


.game-description {
    display: flex;
    justify-content: center;
}

.game-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
}


.icons {
    height: 3rem;
    width: 75%;
    padding: 0;
    align-items: center;
}

.bi {
    font-size: 1.5rem;
    color: #fff;
}

.bi:hover{
    color: #1DE9B7;
    cursor: pointer;
    transition-duration: 0.3s;
}

.metascore {
    font-size: 17px;
    display: flex;
    width: 2rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: #252525 1px solid;
}

.achievements-items {
    width: 13rem;
}

.store-link {
    text-decoration: none;
    color: #fff;
}

.game-achievement-description{
    color: #4b545c;
}